In [17]:
import pandas as pd
import numpy as np
import json 
import os
from sklearn.metrics import precision_score, accuracy_score, recall_score

In [18]:
import lightgbm as lgb
from xgboost import XGBClassifier
from sklearn.neural_network import MLPClassifier

from torch import nn
import torch.nn.functional as F
from skorch import NeuralNetClassifier

from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
#from sklearn.grid_search import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

class MyModule(nn.Module):
    def __init__(self, num_units=10, nonlin=F.relu):
        super(MyModule, self).__init__()

        self.dense0 = nn.Linear(111, num_units)
        self.nonlin = nonlin
        self.dropout = nn.Dropout(0.5)
        self.dense1 = nn.Linear(num_units, 10)
        self.output = nn.Linear(10, 2)

    def forward(self, X, **kwargs):
        X = self.nonlin(self.dense0(X.float()))
        X = self.dropout(X)
        X = F.relu(self.dense1(X))
        X = F.softma
        return X

In [19]:
#pd.read_csv("dir_list.csv")["0"]

0       (9, 3, 42)_DecisionTreeClassifier.csv
1        (4, 1, 2)_RandomForestClassifier.csv
2           (3, 2, 30)_LogisticRegression.csv
3        (7, 1, 3)_RandomForestClassifier.csv
4                (0, 6, 16)_MLPClassifier.csv
                        ...
3815             (6, 6, 23)_MLPClassifier.csv
3816         (8, 2, 9)_LogisticRegression.csv
3817       (6, 0, 36)_NeuralNetClassifier.csv
3818         (2, 4, 4)_lgb_LGBMClassifier.csv
3819         (7, 2, 8)_LogisticRegression.csv
Name: 0, Length: 3820, dtype: object

In [20]:
outputs_metrics = pd.read_csv("data/outputs_metrics.csv")

In [21]:
# DataFrame.rolling -> simple moving average
# Weighted moving average sum(w*x) / sum(w)
# Exponential moving average
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html

def ranking_functions(df):
    x = df.metric
    average = x.mean()
    w = [0,1,2,3,4,5,6,7,8,9]
    weighted_avg = sum(w*x) / sum(w)
    ewm = x.ewm(span=10).mean().mean()
    return pd.Series((average,weighted_avg,ewm),index=['average_','weighted_avg','ewm_'])

In [22]:
def idxmax_param_config(df):
    ix_average = df.average_.idxmax()
    ix_weighted_avg = df.weighted_avg.idxmax()
    ix_ewm = df.ewm_.idxmax()

    return pd.Series((df.loc[ix_average].param_config,df.loc[ix_weighted_avg].param_config,df.loc[ix_ewm].param_config)\
                         ,index=['average_','weighted_avg','ewm_'])

In [23]:
def fpr(y_true, y_pred):
    tnr = recall_score(y_true, y_pred, pos_label = 0) 
    fpr = 1 - tnr
    return fpr

In [24]:
# apply threshold to positive probabilities to create labels
def to_labels(pos_probs, threshold):
    return (pos_probs >= threshold).astype('int')

In [25]:
def recall_s(y_true, y_pred):
    tnr = recall_score(y_true, y_pred, pos_label = 1)
    return tnr

In [30]:
def find_threshold(y_true_th,y_proba_th, metric_1, metric_2, min_metric_2= 0.4):
    
    thresholds = np.arange(0, 1, 0.001)

    # evaluate each threshold. We are trying to optimize the first metric, guaranteeing a maximum of 0.4 of the second
    metric_1 = recall_s
    metric_2 = fpr

    scores = np.array([[metric_1(y_true_th, to_labels(y_proba_th, t)) , metric_2(y_true_th, to_labels(y_proba_th, t))]\
              for t in thresholds])
    scores_guaranteed_min = scores[:,0]*(scores[:,1]<=min_metric_2)
    #print(scores_guaranteed_min)
    #print(scores_guaranteed_min)
    ix = np.argmax(scores_guaranteed_min)
    th = thresholds[ix]
    metric = scores_guaranteed_min[ix]
    print('Threshold=%.3f, Metric=%.5f' % (th, metric))
    
    #plt.plot(thresholds, scores[:,0])
    #plt.plot(thresholds, scores[:,1])
    #plt.show()
    
    return th,metric

#data_test = data.query('date > Start_Test')

In [27]:
metrics_p_modelconifg = outputs_metrics.groupby(['model','param_config']).apply(ranking_functions)\
    
best_config_p_metric =   metrics_p_modelconifg.reset_index()\
    .groupby('model').apply(idxmax_param_config)



best_config_p_metric

                        average_  weighted_avg  ewm_
model
DecisionTreeClassifier        37            41    37
LogisticRegression            41            41    41
MLPClassifier                 19            19    19
NeuralNetClassifier            8             8     8
RandomForestClassifier        37            34    37
SVC                            3             3    28
XGBClassifier                 20            20    20
lgb_LGBMClassifier            26            26    26

In [28]:


clfs = [NeuralNetClassifier,
         RandomForestClassifier,
        LogisticRegression,
       DecisionTreeClassifier,
        lgb.LGBMClassifier,
        XGBClassifier,
        MLPClassifier,
        SVC
       ]
clfs_names = ['NeuralNetClassifier',
         'RandomForestClassifier',
        'LogisticRegression',
       'DecisionTreeClassifier',
        "lgb_LGBMClassifier",
        'XGBClassifier',
        'MLPClassifier',
        'SVC'
       ]

clfs_names_dict = dict(zip(clfs_names,clfs))

In [29]:
best_config_p_metric

                        average_  weighted_avg  ewm_
model
DecisionTreeClassifier        37            41    37
LogisticRegression            41            41    41
MLPClassifier                 19            19    19
NeuralNetClassifier            8             8     8
RandomForestClassifier        37            34    37
SVC                            3             3    28
XGBClassifier                 20            20    20
lgb_LGBMClassifier            26            26    26

In [11]:
#outputs_metrics.query(f"model =='{model_name_test}' & param_config == {best_model_config_average}")

In [18]:
#outputs_metrics.query(f"model =='{model_name_test}' & param_config == {best_model_config_average}")

In [38]:
#one example
model_name_test = best_config_p_metric.index[0]
best_model_config_average = best_config_p_metric.iloc[0].average_
#get any filename to get the params
file_test = 'outputs_models2/'+outputs_metrics.query(f"model =='{model_name_test}' & param_config == {best_model_config_average}").filename.iloc[0]
print(file_test)
get_metrics_prod(file_test,model_name_test,clfs_names_dict,y_test.values.astype(float))

outputs_models2/(0, 3, 37)_DecisionTreeClassifier.csv
Threshold=0.306, Metric=0.52661
[0.41860465 0.25795053 0.30487805 ... 0.29824561 0.6516129  0.37704918]
[1. 0. 0. ... 0. 0. 0.]

0.5752459865354739

In [20]:
np.array(y_prod.values)

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [21]:
pd.read_csv(file_test)
clfs_names_dict

{'NeuralNetClassifier': skorch.classifier.NeuralNetClassifier,
 'RandomForestClassifier': sklearn.ensemble._forest.RandomForestClassifier,
 'LogisticRegression': sklearn.linear_model._logistic.LogisticRegression,
 'DecisionTreeClassifier': sklearn.tree._classes.DecisionTreeClassifier,
 'lgb_LGBMClassifier': lightgbm.sklearn.LGBMClassifier,
 'XGBClassifier': xgboost.sklearn.XGBClassifier,
 'MLPClassifier': sklearn.neural_network._multilayer_perceptron.MLPClassifier,
 'SVC': sklearn.svm._classes.SVC}

In [37]:
from sklearn.metrics import accuracy_score
def get_metrics_prod(file_test,model_name_test,clfs_names_dict,y_true):
    #get any dict, they are all the same
    params_test = pd.read_csv(file_test).get_p.iloc[0]
    #Create best model config acording to avg
    best_model_config_test = clfs_names_dict[model_name_test](**eval(params_test))
    
    #train on the whole train
    best_model_config_test = best_model_config_test.fit(X_train,y_train)
    y_prod_pred = best_model_config_test.predict_proba(X_test)[:,1]
    
    th,metric = find_threshold(y_true,y_prod_pred, precision_score, accuracy_score, min_metric_2= 0.4)
    
    print(np.array(y_prod_pred))
    print(np.array(y_true))
    return accuracy_score(y_true,y_prod_pred>th)

In [24]:
time_windows_frames = pd.read_csv('data/time_windows_frames.csv')
time_windows_frames

   Unnamed: 0 Start_Train Start_Threshold  Start_Test    End_Test
0           0  2011-09-01      2011-12-01  2012-01-01  2012-03-01
1           1  2011-10-01      2012-01-01  2012-02-01  2012-04-01
2           2  2011-11-01      2012-02-01  2012-03-01  2012-05-01
3           3  2011-12-01      2012-03-01  2012-04-01  2012-06-01
4           4  2012-01-01      2012-04-01  2012-05-01  2012-07-01
5           5  2012-02-01      2012-05-01  2012-06-01  2012-08-01
6           6  2012-03-01      2012-06-01  2012-07-01  2012-09-01
7           7  2012-04-01      2012-07-01  2012-08-01  2012-10-01
8           8  2012-05-01      2012-08-01  2012-09-01  2012-11-01
9           9  2012-06-01      2012-09-01  2012-10-01  2012-12-01

In [ ]:
[t,t+ pd.DateOffset(months=3),t+ pd.DateOffset(months=4),t+ pd.DateOffset(months=6)]

In [ ]:
train
production

In [31]:
production.as_of_date.max() 
production.as_of_date.min()

Timestamp('2012-01-12 00:00:00')

In [5]:
file = 'data/donors_choose_prepared.csv'
fold_data = pd.read_csv(file)
fold_data['as_of_date'] = pd.to_datetime(fold_data.as_of_date)
start_production = fold_data.as_of_date.max() - pd.DateOffset(months=2)
start_thresh = fold_data.as_of_date.max() - pd.DateOffset(months=3)
start_train = fold_data.as_of_date.max() - pd.DateOffset(months=6)

In [8]:
X

,entity_id,as_of_date,project_features_entity_id_all_grade_level_Grades 3-5_sum,project_features_entity_id_all_grade_level_Grades 6-8_sum,project_features_entity_id_all_grade_level_Grades 9-12_sum,project_features_entity_id_all_grade_level_Grades PreK-2_sum,project_features_entity_id_all_grade_level__NULL_sum,project_features_entity_id_all_poverty_level__NULL_sum,project_features_entity_id_all_poverty_level_high pov_sum,project_features_entity_id_all_poverty_level_highest _sum,...,donation_features_entity_id_all_teacher_funding_rate_2yr_imp,donation_features_entity_id_all_zip_avg_donations_1yr_sum,donation_features_entity_id_all_zip_avg_donations_1yr_imp,donation_features_entity_id_all_zip_avg_donations_2yr_sum,donation_features_entity_id_all_zip_avg_donations_2yr_imp,donation_features_entity_id_all_zip_funding_rate_1yr_sum,donation_features_entity_id_all_zip_funding_rate_1yr_imp,donation_features_entity_id_all_zip_funding_rate_2yr_sum,donation_features_entity_id_all_zip_funding_rate_2yr_imp,quickstart_label
98741,235394,2012-08-01,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,355.57000,0.0,251.75000,0.0,0.500000,0.0,0.500000,0.0,1.0
98742,235402,2012-08-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,316.27290,0.0,318.64944,0.0,0.941860,0.0,0.899543,0.0,0.0
98743,235401,2012-08-01,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,548.72000,0.0,419.73572,0.0,0.500000,0.0,0.625000,0.0,0.0
98744,235398,2012-08-01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.00000,1.0,141.05000,0.0,0.000000,0.0,0.400000,0.0,1.0
98745,235399,2012-08-01,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.00000,1.0,357.49500,0.0,0.000000,0.0,0.357143,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138543,195829,2012-10-31,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,89.25000,0.0,106.25000,0.0,0.000000,0.0,0.000000,0.0,0.0
138544,195828,2012-10-31,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,21.25000,0.0,717.56665,0.0,0.000000,0.0,0.400000,0.0,1.0
138545,195827,2012-10-31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,219.34000,0.0,229.29000,0.0,0.727273,0.0,0.666667,0.0,0.0
138546,195832,2012-10-31,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,217.74342,0.0,238.70294,0.0,0.652174,0.0,0.523077,0.0,0.0
138547,195826,2012-10-31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.00000,1.0,0.00000,1.0,0.000000,1.0,0.000000,1.0,0.0

In [36]:
X_train = fold_data.query(f'as_of_date > "{start_train}" & as_of_date <= "{start_thresh}" ')\
            .drop(['entity_id','as_of_date','quickstart_label'],axis=1).applymap(float)
y_train = fold_data.query(f'as_of_date > "{start_train}" & as_of_date <= "{start_thresh}" ')\
        ['quickstart_label'].apply(int)

X_test = fold_data.query(f'as_of_date > "{start_thresh}" & as_of_date <= "{start_production}" ')\
        .drop(['entity_id','as_of_date','quickstart_label'],axis=1).applymap(float)
y_test = fold_data.query(f'as_of_date > "{start_thresh}" & as_of_date <= "{start_production}" ')\
        ['quickstart_label'].apply(int)

X_val = fold_data.query(f'as_of_date > "{start_production}"  ')\
        .drop(['entity_id','as_of_date','quickstart_label'],axis=1).applymap(float)
y_val = fold_data.query(f'as_of_date > "{start_production}" ')\
        ['quickstart_label'].apply(int)